$body-background: white;
$body-background404: #15210a;
$h3-404: white;
$p-404: white;
$header-background: white;
$footer-background: #003E73;
$footer-color: white;
$card-background: transparent;
$card-textcolor: #767E8B;
$card-titulocolor: #0076E8;
$card-bordercolor: transparent;
$card-paddingheader: 10px;
$card-paddingright: 20px;
$card-paddingbottom: 10px;
$card-paddingleft: 20px;
$btn-textcolor: #2691FB;
$btn-bordercolor: #2691FB;
$card2-background: #F7F7F7;
$card2-background2: #009BED;
$card2-textcolor: #003E73;
$card2-titulocolor: #009BED;
$btn2-textcolor: white;
$btn2-bordercolor: #2691FB;
$header-textcolor: #003E73;

$toplogopadding-left: 20px;
$toplogopadding-top: 20px;

$topmenupadding-top: 40px;
$topmenupadding-right: 40px;

$orbit-bulletcolor: white;
$orbit-bulletcoloractive: #3893FF;


body {
  background: $body-background;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
}
header{
  background: $header-background;
  height: 120px;
  width: auto;
  padding-top: 20px;
}

#example-menu {
    border-style: solid;
    border-color: $header-textcolor;
    border-width: 0px 0px 1px 0px;
}
.top-bar.headermenu.sticky {
    border-style: solid;
    border-color: $header-textcolor;
    border-width: 0px 0px 1px 0px;
}
li#rata {
    text-align: center;
}

.row.container {
  padding: 25px;
}

.columns.hide-for-medium.small-3 {
    text-align: center;
    padding-top: 20px;

}

div#example-menu {
    height: 100%;
    background: $header-background;
}
div#example-menu {
    padding: 0px;
    position-top: -16px;
}
.top-bar, .top-bar ul {
    background: $header-background;
}
.top-bar .menu > li:not(.menu-text) > a {
    padding: 1rem;
    color: $header-textcolor;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;

}
.top-bar .menu li:not(:last-child) {
    border-right: 0px solid #4e4e4e;
}

.top-bar-left.hide-for-small-only {
    padding-left: $toplogopadding-left;
    padding-top: $toplogopadding-top;
}

.top-bar-right {
    padding-top: $topmenupadding-top;
    padding-right: $topmenupadding-right;
}

.headermenu a, .headermenu p {
  color: $header-textcolor;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;

}
#card2Div{
  padding-bottom : 0px;
  padding-top : 0px;
}
#article1{
  max-width: 100%;
background: rgb(90,206,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(90,206,255,1) 0%, rgba(228,247,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(90,206,255,1) 0%,rgba(228,247,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(90,206,255,1) 0%,rgba(228,247,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5aceff', endColorstr='#e4f7ff',GradientType=0 ); /* IE6-9 */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5bcfff', endColorstr='#e4f7ff',GradientType=0 ); /* IE6-9 */
}

#article2{
  max-width: 100%;
  background: $card2-background2;
}

div#example-menu {
    height: 120px;
}
.headermenu {
  width: 100%;
  height: 120px;
}

.row.title-bar {
    background: transparent;
}

.footer, .footer-container {
  background: $footer-background;
  padding:  10px;
}
.row.footer-container  {
  background: $footer-background;
}

.footerSocial {
  padding-top: 20px;
}

.footermenu a , .footermenu p , .footerSocial p {
  color: $footer-color;
}

.footermenu a , .footerSocial p {
  font-size: 12px;
}

.footermenu p {
 font-size: 10px;
 margin-bottom: 0px;
}

hr {
    margin-top: 0px;
    margin-left: 14px;
    margin-right: 14px;
    width: 100%;
}
.columns.small-12.show-for-small-only {
    padding-bottom: 10px;
}

ul#listMenuHeader {
    font-size: 12px;
}

a::after {
    visibility: visible;
}

.menu-icon::after , .menu-icon:hover::after{
    background: $header-textcolor;
    top: 0;
    left: 0;
    box-shadow: 0 7px 0 $header-textcolor, 0 14px 0 $header-textcolor;
}


#listMenuHeader, #menu-footer-1{
  text-transform: uppercase;
}

.row.footerSocial.show-for-small-only {
    padding-top: 0px;
}

.headermenu a, .headermenu p {
  color: $header-textcolor;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.card-section {
  background: $card-background;
  padding: $card-paddingheader $card-paddingright $card-paddingbottom $card-paddingleft;
}

.card-section p {
  color: $card-textcolor;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; 
  font-size: 16px  ;
}

.card-section h5{
  color: #009BED;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; 
  font-size: 24px  ;
}
#imageCard1 {
  padding-left: 20px;
}

.small-12.medium-6.columns.card2-section {
    padding-left: 20px;
    padding-top: 20px;
}

.card.columns{
  padding: 10px;
  border-color: $card-bordercolor;
}
button.hollow.button {
  color:$btn-textcolor;
  border-color: $btn-bordercolor; 
}

#rata {
  max-height:  auto;
  height: auto;
}

.small-12.medium-6.columns.card2 {
    padding: 0px;
}
.card2-section{
  background: transparent;
}
.header-container {
  background: $header-background;
}
.card2-section p {
  color: $card2-textcolor;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; 
  font-size: 21px  ;
}
 .card2-section h3 {
  color: $card2-textcolor;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;  
}

.card2-section h5 {
  color: $card2-titulocolor;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800; 
  font-size: 32px  ;
}

.textSpecial {
  color: #009BED;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; 
  font-size: 32px  ; 
  padding-bottom: 20px;
}

#imagesBrand{
padding: 20px;
}

button.hollow.button.button2 {
  color:$btn2-textcolor;
  border-color: $btn2-bordercolor; 
}

#menuListHeader  {
  text-align: right;
  margin-top: 20px;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
ul.menu.headermenu {
    margin-top: 15px;
}

#error-404Picture img {
  padding-top: 50px;
}

#error-404Title p  {
  color: $h3-404;
  font-size: 48px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

#error-404 p {
  color: $p-404;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.img-circle {
    border-radius: 50%;
}

#body404 {
  background: $body-background404;
}



#texto1, #texto2 {
  color: $card2-textcolor;
  text-transform: uppercase;
  font-size: 30px;
 font-family: 'Open Sans', sans-serif;
  font-weight: 400; 
}
#texto1 span, #texto2 span{
  font-weight: 800; 
  color: #009BED;
}


.niko{
  padding-top: 80px;
}

//Medias Queris

/* Small only */
@media screen and (max-width: 350px) {

  #menuListHeader  {
   text-align: right;
   margin-top: 10px;
  }
}
/* Small only */
@media screen and (max-width: 39.9375em) {
   #menuListHeader a {
  font-size: 12px;
  }

  hr{
    margin-left: 0px;
  }

  #imgFacebookMobile img, #imgLogoFooter2Mobile img {
    height: 60px;
    width: auto;
  }

  div#imgLogoFooter2Mobile, div#imgFacebookMobile, #pFacebookMobile {
    text-align: center;
  }

  #menuFooterMobile {
    padding: 0px;
  }
  #videoFrame {
    width: 320px;
    height: 180px;
  }
  .niko{
    padding-top: 10px;
  }

  .top-bar.headermenu.sticky {
    height: auto;
  }
  #menuFooterMobile {
    padding: 0px;
  }
  .headermenu {
    width: 100%;
    min-height: 80px;
    padding-top: 0px;
  }

  #rowMobile{
    margin-right: 0px;
    margin-left: 0px;
  }

  div#rowMobile {
    width: 100%;
    height: 100%;
  }
  .title-bar {
    width: 100%;
  }
}


/* Medium and up */
@media screen and (min-width: 40em) {

   #imgHeader img {
    width: 150px;
    padding-top: 10px;
  }

}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {

 #menuListHeader a {
  font-size: 12px;
  }
  #imgOrbit{
    content: src()
  }
  div#rowMobile {
    width: 100%;
  }
  .title-bar {
    width: 100%;
  }
}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}